<link rel="stylesheet" href="estilos.css">
body {
    background-color: #ffe6f0;
    color: #4b2c2c;
    font-family: 'Segoe UI', sans-serif;
  }
  
  h1 {
    color: #cc6699;
  }
  
  .navbar {
    background-color: #ffcce6 !important;
  }
  
  footer {
    background-color: #f9d6e5;
    color: #333;
  }
  
  footer i {
    color: #cc6699;
    font-size: 1.5rem;
  }